table {
  border-collapse: collapse;
  margin: ($spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($border-color, 15);
  font-weight: bold;
  padding: ($spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $border;
  padding: ($spacing / 2) 0;
}

tr, td, th { vertical-align: middle; }